<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img"  src="../../../assets/images/carousel/img-01.jpeg" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- <img class="img"  src="../../../assets/images/carousel/img-29.jpg" alt="Random second slide"> -->
      <img class="img"  src="../../../assets/images/devis/devis.jpg" alt="Random second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-3.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-4.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-5.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img  class="img" src="../../../assets/images/carousel/img-6.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-7.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-8.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-9.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-10.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-11.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-12.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" class="img" src="../../../assets/images/carousel/img-13.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-14.jpg"alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img" src="../../../assets/images/carousel/img-15.jpg"alt="Random third slide">
    </div>
  </ng-template>
</ngb-carousel>
