.devis{
  @media screen and (max-width: 959px) {
    width: 550px !important;
  }
  .devis-header{
    height: 400px;
    background-image: url("../../assets/images/devis/devis.jpg");
    h1{
      padding-top: 150px;
      color: rgb(65, 60, 60);
      text-align: center;
      font-size: 59px;
    }
  }
  .devis-body{
    @media screen and (max-width: 959px) {
      display: block;
    }
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
    .content-devis{
      .devis-img{
        width: 500px;
        @media screen and (max-width: 959px) {
          width: 500px;
        }
      }
    }
    .devis-form{
      margin-left: 60px;
      @media screen and (max-width: 959px) {
        margin-left: 0px;
      }
      .title{
        text-decoration: underline;
      }
    }

  }
}
