.main-footer-r2c{
  height: 80px;
  width: 100%;
  background-color: rgb(65, 60, 60);
  display: flex;
  .logo-r2c{
    padding-left: 110px;
    .r2c__logo{
      height: 80px;
      width: 80px;
    }
  }
}
